################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/TGMT-CBTC-EX/bin
/TGMT-CBTC-EX/obj
/TGMT-CBTC-EX_WCU/bin
/TGMT-CBTC-EX_WCU/obj